body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    color: #333;
}

header {
    background-color: #005499;
    color: white;
    text-align: center;
    padding: 20px;
}

section.about {
    background-color: #dfe6e9;
    color: #2d3436;
    font-size: 1.25em;
    padding: 20px;
}
